<!-- ==========Header-Section========== -->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="/">
                    <img src="assets/images/logo/logo.png" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="/" class="active">Home</a>
                </li>
                <li>
                    <a href="/">Workshop</a>
                    <ul class="submenu">
                        <li>
                            <a href="#">Darb1718</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/">Dance</a>
                    <ul class="submenu">
                        <li>
                            <a href="/">Events</a>
                        </li>
                        <li>
                            <a href="/">Event Details</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">Musical</a>
                    <ul class="submenu">
                        <li>
                            <a href="/">Opera Tickets</a>
                        </li>
                        <li>
                            <a href="/">Alexandria Opera</a>
                        </li>
                        <li>
                            <a href="/">Culture Wheel</a>
                        </li>
                        <li>
                            <a href="/">Darb1718</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">Theater</a>
                    <ul class="submenu">
                        <li>
                            <a href="/">Theater 1</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">Music</a>
                    <ul class="submenu">
                        <li>
                            <a href="/">Opera Tickets</a>
                        </li>
                        <li>
                            <a href="/">Alexandria Opera</a>
                        </li>
                        <li>
                            <a href="/">Culture Wheel</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">Film</a>
                    <ul class="submenu">
                        <li>
                            <a href="/">Film one</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">join us</a>
                    <ul class="submenu">
                        <li>
                            <a href="">Login</a>
                        </li>
                        <li>
                            <a href="">Sign up</a>
                        </li>
                    </ul>
                </li>
                
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
<!-- ==========Header-Section========== -->

