<!-- ==========Event-Banner-Section========== -->
<section class="event-banner-section bg_img" data-background="assets/images/banner/banner06.jpg">
    <div class="container">
        <div class="event-banner">
            <a href="https://www.youtube.com/embed/GT6-H4BRyqQ" class="video-popup">
                <span></span>
                <i class="flaticon-play-button"></i>
            </a>
        </div>
    </div>
</section>
<!-- ==========Event-Banner-Section========== -->
<!-- ==========Ticket-Search========== -->
<section class="search-ticket-section padding-top pt-lg-0">
    <div class="container">
        <div class="search-tab bg_img" data-background="assets/images/ticket/ticket-bg01.jpg">
            <div class="row align-items-center mb--20">
                <div class="col-lg-6 mb-20">
                    <div class="search-ticket-header">
                        <h6 class="category">welcome to Ticketmall </h6>
                        <h3 class="title">what are you looking for</h3>
                    </div>
                </div>
                <div class="col-lg-6 mb-20">
                    <ul class="tab-menu ticket-tab-menu">
                        <li class="active">
                            <div class="tab-thumb">
                                <img src="assets/images/ticket/ticket-tab01.png" alt="ticket">
                            </div>
                            <span>Theater</span>
                        </li>
                        <li>
                            <div class="tab-thumb">
                                <img src="assets/images/ticket/ticket-tab02.png" alt="ticket">
                            </div>
                            <span>events</span>
                        </li>
                        <li>
                            <div class="tab-thumb">
                                <img src="assets/images/ticket/ticket-tab03.png" alt="ticket">
                            </div>
                            <span>opera</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-area">
                <div class="tab-item active">
                    <form class="ticket-search-form">
                        <div class="form-group large">
                            <input type="text" placeholder="Search fo Theater">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="assets/images/ticket/city.png" alt="ticket">
                            </div>
                            <span class="type">city</span>
                            <select class="select-bar">
                                <option value="london">London</option>
                                <option value="dhaka">dhaka</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="assets/images/ticket/date.png" alt="ticket">
                            </div>
                            <span class="type">date</span>
                            <select class="select-bar">
                                <option value="26-12-19">23/10/2019</option>
                                <option value="26-12-19">24/10/2019</option>
                                <option value="26-12-19">25/10/2019</option>
                                <option value="26-12-19">26/10/2019</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="assets/images/ticket/cinema.png" alt="ticket">
                            </div>
                            <span class="type">Theater</span>
                            <select class="select-bar">
                                <option value="Awaken">Awaken</option>
                                <option value="dhaka">dhaka</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="tab-item">
                    <form class="ticket-search-form">
                        <div class="form-group large">
                            <input type="text" placeholder="Search fo Events">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="assets/images/ticket/city.png" alt="ticket">
                            </div>
                            <span class="type">city</span>
                            <select class="select-bar">
                                <option value="london">London</option>
                                <option value="dhaka">dhaka</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="assets/images/ticket/date.png" alt="ticket">
                            </div>
                            <span class="type">date</span>
                            <select class="select-bar">
                                <option value="26-12-19">23/10/2019</option>
                                <option value="26-12-19">24/10/2019</option>
                                <option value="26-12-19">25/10/2019</option>
                                <option value="26-12-19">26/10/2019</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="assets/images/ticket/cinema.png" alt="ticket">
                            </div>
                            <span class="type">event</span>
                            <select class="select-bar">
                                <option value="angular">angular</option>
                                <option value="startup">startup</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="Last-First">Last-First</option>
                                <option value="wish">wish</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="tab-item">
                    <form class="ticket-search-form">
                        <div class="form-group large">
                            <input type="text" placeholder="Search fo opera">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="assets/images/ticket/city.png" alt="ticket">
                            </div>
                            <span class="type">city</span>
                            <select class="select-bar">
                                <option value="london">London</option>
                                <option value="dhaka">dhaka</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="assets/images/ticket/date.png" alt="ticket">
                            </div>
                            <span class="type">date</span>
                            <select class="select-bar">
                                <option value="26-12-19">23/10/2019</option>
                                <option value="26-12-19">24/10/2019</option>
                                <option value="26-12-19">25/10/2019</option>
                                <option value="26-12-19">26/10/2019</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="assets/images/ticket/cinema.png" alt="ticket">
                            </div>
                            <span class="type">opera</span>
                            <select class="select-bar">
                                <option value="football">football</option>
                                <option value="cricket">cricket</option>
                                <option value="cabadi">cabadi</option>
                                <option value="madrid">madrid</option>
                                <option value="gadon">gadon</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Ticket-Search========== -->

<!-- ==========Movie-Section========== -->
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="tab">
            <div class="section-header-2">
                <div class="left">
                    <h2 class="title">opera</h2>
                    <p>Be sure not to miss these Movies today.</p>
                </div>
                <ul class="tab-menu">
                    <li>
                        now showing
                    </li>
                    <li>
                        coming soon
                    </li>
                    <li>
                        exclusive
                    </li>
                </ul>
            </div>
            <div class="tab-area mb-30-none">
                <div class="tab-item active">
                    <div class="owl-carousel owl-theme tab-slider">
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="/">
                                        <img src="assets/images/movie/movie01.jpg" alt="movie">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="/">alone</a>
                                    </h5>
                                    <ul class="movie-rating-percent d-flex">
                                        <li>
                                            <span class="date">Dece 15, 2020</span>
                                        </li>
                                        <li>
                                            <span class="content text-center">Start from 110 EGP</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="/">
                                        <img src="assets/images/movie/movie02.jpg" alt="movie">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="/">mars</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <span class="date">Dece 15, 2020</span>
                                        </li>
                                        <li>
                                            <span class="content text-center">Start from 110 EGP</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="/">
                                        <img src="assets/images/movie/movie03.jpg" alt="movie">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="/">venus</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <span class="date">Dece 15, 2020</span>
                                        </li>
                                        <li>
                                            <span class="content text-center">Start from 110 EGP</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="/">
                                        <img src="assets/images/movie/movie04.jpg" alt="movie">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="/">horror night</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <span class="date">Dece 15, 2020</span>
                                        </li>
                                        <li>
                                            <span class="content text-center">Start from 110 EGP</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                    <div class="owl-carousel owl-theme tab-slider">
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="/">
                                        <img src="assets/images/movie/movie05.jpg" alt="movie">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="/">alone</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <span class="date">Dece 15, 2020</span>
                                        </li>
                                        <li>
                                            <span class="content text-center">Start from 110 EGP</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="/">
                                        <img src="assets/images/movie/movie06.jpg" alt="movie">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="/">mars</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <span class="date">Dece 15, 2020</span>
                                        </li>
                                        <li>
                                            <span class="content text-center">Start from 110 EGP</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="/">
                                        <img src="assets/images/movie/movie07.jpg" alt="movie">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="/">venus</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <span class="date">Dece 15, 2020</span>
                                        </li>
                                        <li>
                                            <span class="content text-center">Start from 110 EGP</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="/">
                                        <img src="assets/images/movie/movie08.jpg" alt="movie">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="/">horror night</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <span class="date">Dece 15, 2020</span>
                                        </li>
                                        <li>
                                            <span class="content text-center">Start from 110 EGP</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                    <div class="owl-carousel owl-theme tab-slider">
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="/">
                                        <img src="assets/images/movie/movie09.jpg" alt="movie">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="/">alone</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <span class="date">Dece 15, 2020</span>
                                        </li>
                                        <li>
                                            <span class="content text-center">Start from 110 EGP</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="/">
                                        <img src="assets/images/movie/movie10.jpg" alt="movie">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="/">mars</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <span class="date">Dece 15, 2020</span>
                                        </li>
                                        <li>
                                            <span class="content text-center">Start from 110 EGP</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="/">
                                        <img src="assets/images/movie/movie11.jpg" alt="movie">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="/">venus</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <span class="date">Dece 15, 2020</span>
                                        </li>
                                        <li>
                                            <span class="content text-center">Start from 110 EGP</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="/">
                                        <img src="assets/images/movie/movie12.jpg" alt="movie">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="/">horror night</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <span class="date">Dece 15, 2020</span>
                                        </li>
                                        <li>
                                            <span class="content text-center">Start from 110 EGP</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Movie-Section========== -->
    <!-- ==========Event-About========== -->
    <section class="event-about padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-between flex-wrap-reverse">
                <div class="col-lg-7 col-xl-6">
                    <div class="event-about-content">
                        <div class="section-header-3 left-style m-0">
                            <span class="cate">are you ready to attend?</span>
                            <h2 class="title">Omar Khairat  Orchestra <span>2020</span></h2>
                            <p>Renowned Egyptian pianist and composer Omar Khairat and his orchestra will return to the Cairo Opera House to give three concerts in 29th September at the Fountain Theatre after months of absence due to pandemic.
                            </p>
                            <a href="/" class="custom-button">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-7">
                    <div class="event-about-thumb">
                        <img src="assets/images/event/event-about.jpg" alt="event">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Event-About========== -->
    <!-- ==========Gallery-Section========== -->
    <div class="speaker-gallery">
        <div class="row m-0">
            <div class="col-md-6 p-0">
                <div class="row m-0">
                    <div class="col-sm-6 p-0">
                        <div class="gallery-item two">
                            <div class="gallery-thumb">
                                <a href="assets/images/gallery/gallery01.jpg" class="img-pop">
                                    <i class="flaticon-loupe"></i>
                                </a>
                                <img src="assets/images/gallery/gallery01.jpg" alt="gallery">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-0">
                        <div class="gallery-item two">
                            <div class="gallery-thumb">
                                <a href="assets/images/gallery/gallery02.jpg" class="img-pop">
                                    <i class="flaticon-loupe"></i>
                                </a>
                                <img src="assets/images/gallery/gallery02.jpg" alt="gallery">
                            </div>
                        </div>
                        <div class="gallery-item two">
                            <div class="gallery-thumb">
                                <a href="assets/images/gallery/gallery03.jpg" class="img-pop">
                                    <i class="flaticon-loupe"></i>
                                </a>
                                <img src="assets/images/gallery/gallery03.jpg" alt="gallery">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="gallery-item">
                    <div class="gallery-thumb">
                        <a href="assets/images/gallery/gallery04.jpg" class="img-pop">
                            <i class="flaticon-loupe"></i>
                        </a>
                        <img src="assets/images/gallery/gallery04.jpg" alt="gallery">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==========Gallery-Section========== -->

    <!-- ==========Speaker-Section========== -->
    <section class="speaker-section padding-bottom padding-top">
        <div class="container">
            <div class="section-header-3">
                <span class="cate">listen to the</span>
                <h2 class="title">event speakers</h2>
                <p>World is committed to making participation in the event a harassment free experience for 
                everyone, regardless of level of experience, gender, gender identity and expression</p>
            </div>
            <div class="speaker--slider">
                <div class="speaker-slider owl-carousel owl-theme">
                    <div class="speaker-item">
                        <div class="speaker-thumb">
                            <a href="/">
                                <img src="assets/images/speaker/speaker01.jpg" alt="speaker">
                            </a>
                        </div>
                        <div class="speaker-content">
                            <h5 class="title">
                                <a href="/">
                                    Bassem Youssef 
                                </a>
                            </h5>
                            <span>lead speaker</span>
                        </div>
                    </div>
                    <div class="speaker-item">
                        <div class="speaker-thumb">
                            <a href="/">
                                <img src="assets/images/speaker/speaker02.jpg" alt="speaker">
                            </a>
                        </div>
                        <div class="speaker-content">
                            <h5 class="title">
                                <a href="/">
                                    Nahad Chalita
                                </a>
                            </h5>
                            <span>lead speaker</span>
                        </div>
                    </div>
                    <div class="speaker-item">
                        <div class="speaker-thumb">
                            <a href="/">
                                <img src="assets/images/speaker/speaker03.jpg" alt="speaker">
                            </a>
                        </div>
                        <div class="speaker-content">
                            <h5 class="title">
                                <a href="/">
                                    Shimaa Ashour
                                </a>
                            </h5>
                            <span>lead speaker</span>
                        </div>
                    </div>
                    <div class="speaker-item">
                        <div class="speaker-thumb">
                            <a href="/">
                                <img src="assets/images/speaker/speaker04.jpg" alt="speaker">
                            </a>
                        </div>
                        <div class="speaker-content">
                            <h5 class="title">
                                <a href="/">
                                    Mahmoud Nasrallah
                                </a>
                            </h5>
                            <span>lead speaker</span>
                        </div>
                    </div>
                </div>
                <div class="speaker-prev">
                    <i class="flaticon-double-right-arrows-angles"></i>
                </div>
                <div class="speaker-next">
                    <i class="flaticon-double-right-arrows-angles"></i>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Speaker-Section========== -->
